/********************************************
GENERAL
********************************************/

.container {
    position: relative;
    top: 0;
    left: 0;
}

.background {
    position: relative;
    top: 0;
    left: 0;
}


.backbutton {
    position: absolute;
    bottom: 20px;
    left: 15px;
}



/********************************************
MAIN MENU
********************************************/


.buttonmenu {
    position: absolute;
    left: 60px;
}


#playButton{
    top: 215px;
}


#rulesButton{
    top: 324px;
}

#hofButton{
    top: 433px;
}


/********************************************
LEVEL SELECTION
********************************************/

.herooption {
      position: absolute;
      bottom: 60px;
}

#hero1 {
    left: 140px;
}

#hero2 {
    left: 420px;
}

#hero3 {
    left: 690px;
}


/********************************************
GAME / SKIP INTRODUCTION
********************************************/

.buttonSkip {
    position: absolute;
    top: 520px;
    left: 750px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: black;
}


.buttonSkip a h2 {
    margin-left: 20px;
    margin-right: 20px;
}


.buttonSkip a h2:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.buttonSkip a h2:active{
    background-color: rgba(255, 255, 255, 0.7);
}



/********************************************
LOSE AND WIN SCREENS
********************************************/

.actionbutton {
      position: absolute;
      bottom: 100px;
}

#returnMenuButton {
    left: 40px;
}

#restartButton {
    left: 530px;
}

#saveScoreButton {
    left: 530px;
}



/********************************************
SAVE SCORE
********************************************/

#saveScoreForm {
    position: absolute;
    top: 50px;
    left : 215px;
    font-family: Bahnschrift;
    font-size: 30px;
    color:white;
    background-color: #434343;
    border-radius: 10px;
    padding: 120px;
}

#saveScoreForm #save {
    font-family: Bahnschrift;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 88px;
    padding-left:40px;
    padding-right:40px;
    margin-top: 30px;
}

#saveScoreForm .saveScoreInput {
    height:25px;
}


/********************************************
HALL OF FAME
********************************************/

#hof {
    position: absolute;
    top: 150px;
    left: 130px;
    font-family: Bahnschrift;
    color: white;
}

#hof .level td {
    font-size: 1.3em;
    padding-top: 10px;
}

#hof thead td {
    font-size: 1.5em;
}

#hof td {
    padding-left: 26px;
    padding-right: 26px;
    text-align: justify;
}

