/********************************************
GENERAL
********************************************/

.container {
    position: relative;
    top: 0;
    left: 0;
}

.background {
    position: relative;
    top: 0;
    left: 0;
}


.backbutton {
    position: absolute;
    bottom: 20px;
    left: 15px;
}



/********************************************
MAIN MENU
********************************************/


.buttonmenu {
    position: absolute;
    left: 60px;
}


#playButton{
    top: 215px;
}


#rulesButton{
    top: 324px;
}

#hofButton{
    top: 433px;
}


/********************************************
LEVEL SELECTION
********************************************/

.herooption {
      position: absolute;
      bottom: 60px;
}

#hero1 {
    left: 140px;
}

#hero2 {
    left: 420px;
}

#hero3 {
    left: 690px;
}


/********************************************
GAME / SKIP INTRODUCTION
********************************************/

.buttonSkip {
    position: absolute;
    top: 520px;
    left: 750px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: black;
}


.buttonSkip a h2 {
    margin-left: 20px;
    margin-right: 20px;
}


.buttonSkip a h2:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.buttonSkip a h2:active{
    background-color: rgba(255, 255, 255, 0.7);
}



/********************************************
LOSE AND WIN SCREENS
********************************************/

.actionbutton {
      position: absolute;
      bottom: 100px;
}

#returnMenuButton {
    left: 40px;
}

#restartButton {
    left: 530px;
}

#saveScoreButton {
    left: 530px;
}



/********************************************
SAVE SCORE
********************************************/

.form {
    position: absolute;
    bottom: 100px;
}
